*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    height: 1200px;
    color: white;
    font-family: Arial, Helvetica,;
    background-color: rgb(225, 225, 225);
}

body::-webkit-scrollbar-thumb{
    background-color: rgb(225, 225, 225);
    border:solid 0.5px black
}
body::-webkit-scrollbar{
    background-color: black;
}

header{
    background-color: rgb(20, 20, 40);
    padding: 20px;
}
nav{
    background-color: rgb(22, 22, 22);
    user-select:none;
    font-family: monospace;
}
nav ul li{
    display: inline-block;
    margin-left: 20px;
    padding: 10px 20px;

}
nav ul li:hover{
   background-color: black;
   cursor: pointer;
}
menu{
    background-color: rgb(22, 22, 22);
    display: none;
    padding: 10px 0;
    position: absolute;
    margin:2px;
    border-radius: 0px 10px 10px 10px;
    opacity: 0;
    transition: all 500ms;
}
menu ul li{
    list-style: none;
    padding: 10px;
}
menu ul li:hover{
    background-color: black;
    cursor: pointer;
}

#news{
    margin-top: 100px;
    background-color: rgb(22, 22, 22);
    text-align: center;
    height: auto;
    overflow: hidden;
    padding: 50px 0px;
}
#news h2{
    margin: 0px 20px 50px 20px;
}
#newsContainer{

    display: flex;
    height: auto;
    column-gap: 20px;
}
.newsContent{
    padding: 30px 0;
    /* padding: 10px; */
    font-size: calc(0.4em + 1vw);
    background-color: black;
    border-radius: 10px;
    text-align: center;
}
.newsContent p{
    width: 70%;
    display: inline-block;
    text-decoration:underline;
    color: rgb(225, 225, 225);
}