* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 1200px;
  color: white;
  font-family: Arial, Helvetica;
  background-color: rgb(225, 225, 225);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(225, 225, 225);
  border: solid 0.5px black;
}
body::-webkit-scrollbar {
  background-color: black;
}

header {
  background-color: rgb(20, 20, 40);
  padding: 20px;
}
nav {
  background-color: rgb(22, 22, 22);
  user-select: none;
  font-family: monospace;
}
nav ul li {
  display: inline-block;
  margin-left: 20px;
  padding: 10px 20px;
}
nav ul li:hover {
  background-color: black;
  cursor: pointer;
}
menu {
  background-color: rgb(22, 22, 22);
  display: none;
  padding: 10px 0;
  position: absolute;
  margin: 2px;
  border-radius: 0px 10px 10px 10px;
}
menu ul li {
  list-style: none;
  padding: 10px;
}
menu ul li:hover {
  background-color: black;
  cursor: pointer;
}

#latest-news {
  margin-top: 100px;
  background-color: rgb(22, 22, 22);
  text-align: center;
  height: auto;
  overflow: hidden;
  padding: 50px 0px;
}
#latest-news h2 {
  margin: 0px 20px 50px 20px;
}
#latest-newsContainer {
  display: flex;
  height: auto;
  column-gap: 20px;
}
.latest-newsContent {
  padding: 30px 0;
  /* padding: 10px; */
  font-size: calc(0.4em + 1vw);
  border-radius: 10px;
  text-align: center;
}
.latest-newsContent p {
  width: 70%;
  display: inline-block;
  color: rgb(225, 225, 225);
}
.latest-newsContent p:hover{
    text-decoration: underline;
}
#news {
  margin-top: 100px;
  background-color: rgb(22, 22, 22);
  height: auto;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
#news h2 {
  margin: 20px 20px 50px 20px;
}

.news {
  width: calc(100% - 40px);
  column-gap: 20px;
  display: flex;
  text-align: start;
  margin: 20px;
  padding: 30px;
  align-items: end;
  word-wrap: break-word;
  border-top: dotted 1px rgb(180, 180, 180);

}
.news a {
  color: white;
  width: 50%;
  text-decoration: none;
}
.news a:hover {
  text-decoration: underline;
}
#newsContainer {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}
#iframeContainer {
  height: 100%;
  margin-top: 100px;
  height: auto;
  display: flex;
  background-color: black;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 0px 40px 0px
}
#newsContent {
  width: 100%;
  overflow: hidden;
  max-width: 800px;
  box-sizing: border-box;
  flex-shrink: 0;
}
footer{
    height: 200px;
    margin-top: 100px;
    background-color: rgb(20, 20, 40);
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:520px){
    #latest-newsContainer{
        display: flex;
        flex-direction: column;
    }
    .latest-newsContent p{
        font-size: 16px;
        text-align: justify;
    }
    menu{
        background-color: rgb(20, 20, 40);
    }
    .news{
        width:100%;
        margin: 0;
        flex-direction: column;
        text-align: justify;
        row-gap: 20px;
    }
    .news a{
        width: 100%;
    }
    .news img{
        width: 100%;
    }
    #iframeContainer{
        padding: 0px 0px 40px 0px;
    }
    #iframeContainer iframe{
        width: 100vw;
        height:60vw
    }
}
